## Update identity (in Command line/Terminal):
# git config --global user.name "George.Li"
# git config --global user.email "yongxinL@outlook.com"

# git-deploy status file:
/.deploy

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.env
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache
.vscode

# Building & testing
/composer.lock

# Misc
.buildpath
.classpath
.idea
.metadata*
.settings
/static*
/tags
/.htaccess
/.htpasswd
.eslintcache
acme.json

# ignore log files and databases
*.log
*.sql
*.sqlite

# clone to Library
.storybook
dev-scripts
stories
tests
.eslintignore
.eslintrc.json
.gitreview
.phpcs
.stylelintignore
.stylelintrc.json
.svgo.yml
Doxyfile
jsdoc.json
tsconfig.json

# ignore everything related to Visual Studio Code
*.code-workspace

# ignore everything related to private contents
*.jar
oneLijia*